body{
    display: flex;
    justify-content: center;

}

.ab
{
    display: flex;
    width: 850px;
    height: 550px;
    border: 3px solid black;
    flex-direction: column;
    background:black;
}
.cd
{
    display: flex;
    width: 830px;
    height: 130px;
    border: 3px solid black;
    margin: 1px;
    background:red;
    border-radius: 5px;
}

.ef
{
    display: flex;
    width: 850px;
    height: 450px;

}

.gh
{
    width: 250px;
    height: 430px;
    border: 3px solid black;
    margin: 1px;
    background: greenyellow;
    border-radius: 5px;
}
.ij
{
    width: 350px;
    height: 430px;
    border: 3px solid black;
    margin: 1px;
    background: blue;
    border-radius: 5px;
}

.kl
{
    display: flex;
    width: 250px;
    height: 438px;
    flex-direction: column;
}

.mn
{
    width: 245px;
    height: 150px;
    border: 3px solid black;
    background-color: rebeccapurple;
    margin: 1px;
    border-radius: 5px;
}

.op
{
    width: 245px;
    height: 280px;
    border: 3px solid black;
    background-color: palevioletred;
    margin: 1px;
    border-radius: 5px;  
}
